<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}的电影清单</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="see" class="see" src="{{ url_for('static', filename='images/see.png') }}">{{ user.name }}的电影清单
    </h2>
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
            {% for movie in movies %}
            <li>{{ movie.title }} - {{ movie.year }}</li>
            {% endfor %}
    </ul>
    <img alt="boy piss" class="boy" src="{{ url_for('static', filename='images/boy.gif') }}">
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
</html>